.group-tasks{

 .card{
  height:55px;
  background:#fff;
  display:flex;
  align-items: center;
  color:#fff;
  transition:all .3s;
  position:relative;
  z-index:1;

  &.active{
   margin-bottom:20px;
    .card-description{
     top:55px;
     display:flex;
    }
  }

  &-content{
   display:flex;
   align-items: center;
   padding:0;
   width:95%;
  }

  &-title{
   font-size:18px;
   padding: 0 10px;
   float:left;
  }

  &-assign{
    left:0;
    height:100%;
    display:flex;
    align-items:center; 

    .member-assign{
     width:38px;
     height:38px;
     background:#fff;
     border-radius:100px;
     margin-left:15px;
    }
  }

  &-delete{
   height:100%;
   width:15px;
   position:absolute;
   display:flex;
   align-items: center;
   justify-content: center;
   background:rgba(0,0,0,.5);
   right:0;
   transition: all .3s;

   .delete-icon{
    width:20px;
    height:20px;
    opacity:0;
    transition:all .3s;
   }

   &.active{
    width:45px;

    .delete-icon{
     opacity:1;
    }
   }
  }

  &-description{
   position:absolute;
   background:#fff;
   height:37px;
   width:100%;
   display:flex;
   align-items: center;
   transition:all .3s;
   display:none;
   z-index:-1;

   .card-date{
    font-size:12px;
    font-weight:900;
    position:absolute;
    left:20px;
   }

   .card-status{
    font-size:12px;
    position:absolute;
    right:20px;
   }
  }

  &.pending{
   background:#ECBB32;

   .card-description{
    background:#FFFFA4;
    color:#ECBB32;
    font-weight:500;
   }
   .delete-icon{
    background:url('~assets/images/icons/trash.svg');
    background-size:contain;
   }
  }
  &.complete{
   background:#7FF263;

   .card-description{
    background:#ADF39C;
    color:#3B9725; 
    font-weight:500;
   }
   .delete-icon{
    background:url('~assets/images/icons/trash.svg');
    background-size:contain;
   }
  }

  &.expired{
   background:#F54B4B;

   .card-description{
    background:#F99393;
    color:#F54B4B;
    font-weight:500;
   }
   .delete-icon{
    background:url('~assets/images/icons/trash.svg');
    background-size:contain;
   }
  }
 }
}