  <section class="group-tasks">
    <div class="section-head">
      <div class="section-title">
          Tarefas
        <div class="section-add-element"></div>
        <div class="section-remove-element"></div>
      </div>
      <div class="section-icon"></div>
    </div>
    
    <div class="columns">
      <div class="column">
        <div class="group-task-card card pending clickable">
          <div class="card-content">
            <div class="card-title">Lavar a louça</div>
            <div class="card-assign">
              <div class="member-assign"></div>
            </div>
            <div class="card-description">
              <div class="card-date">21/11</div>
              <div class="card-status">Finalizado</div>
            </div>
          </div>
          <div class="card-delete">
            <div class="delete-icon"></div>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="group-task-card card complete clickable">
          <div class="card-content">
            <div class="card-title">Lavar a louça</div>
            <div class="card-assign">
              <div class="member-assign"></div>
            </div>
            <div class="card-description">
              <div class="card-date">21/11</div>
              <div class="card-status">Finalizado</div>
            </div>
          </div>
          <div class="card-delete">
            <div class="delete-icon"></div>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="group-task-card card expired clickable">
          <div class="card-content">
            <div class="card-title">Lavar a louça</div>
            <div class="card-assign">
              <div class="member-assign"></div>
            </div>
            <div class="card-description">
              <div class="card-date">21/11</div>
              <div class="card-status">Finalizado</div>
            </div>
          </div>
          <div class="card-delete">
            <div class="delete-icon"></div>
          </div>
        </div>
      </div>

    </div>
    
  </section>