.header-navbar{
  height:200px;
  position:relative;

  .profile-info{
    position:relative;
    padding:32px;
    vertical-align: center;

    .profile-rank{
      width:52px;
      height:40px;
      background-image:url('/assets/images/icons/crown.svg');
      background-repeat:no-repeat;
      background-position:center;
    }

    .profile-messages{
      position:absolute;
      height:20px;
      width:30px;
      background:#fff;
      left:100px;
      top:80px;
    }

    .profile-picture{
      width:52px;
      height:52px;
      border-radius:100px;
      background-image:url('/assets/images/icons/profile-img.svg');
      display: inline-block;
    }
    .profile-name{
      display:inline-block;
      font-size:18px;
      color:#FFFFA4;
      font-weight: 900;
      margin-left:10px;
    }
  }

  .menu-icon{
    position:absolute;
    cursor:pointer;
    top:80px;
    height:30px;
    width:45px;
    right:20px;
    transition:all .4s;
    z-index:4;

    &.active{
      position:fixed;
      .bar{
        width:45px;
        transform:rotate(45deg);
        &:before{
          content:'';
          display:block;
          bottom:0;
          transform:rotate(-90deg);
        }
        &:after{
          content:'';
          display:none;
        }
      }
    }

    .bar{
      width:23px;
      height:3px;
      background:#fff;
      position:absolute;
      right:0;
      top:15px;
      opacity:1;
      transition:all .4s;

      &:before{
        content:'';
        display:block;
        background:#fff;
        position:absolute;
        height:3px;
        width:45px;
        bottom:10px;
        right:0;
      }
      &:after{
        content:'';
        display:block;
        background:#fff;
        position:absolute;
        height:3px;
        width:35px;
        top:10px;
        right:0;
      }
    }
  }
}
