<div class="header-navbar">
  <div class="profile-info">
    <div class="profile-rank"></div>
    <div class="profile-picture"></div>
    <div class="profile-messages"></div>
    <div class="profile-name"> Pai - Administrador </div>
  </div>

  <div class="menu-icon">
    <div class="bar"></div>
  </div>

</div>
