.groups-container{
 background:linear-gradient(#63ABF2, #F54B4B);
 min-height:100vh;
}

.group{
 vertical-align:center;
 padding:20px;
 position:Relative;

 &-title{
  font-size:20px;
  font-weight:600;
  color:#fff;
 }

 &-image{
  height:60px;
  width:60px;
  background:#fff;
  position:absolute;
  right:40px;
  top:10px;
 }
}