<div class="groups-container">
  <app-header></app-header>
  <app-menu></app-menu>

  <div class="columns is-multiline">
  
    <div class="column">
      <div class="group">
        <a routerLink="groups-detail">
          <div class="group-title">Familia Stark</div>
        </a>
        <div class="group-image"></div>
      </div>
    </div>

    <div class="column">
      <div class="group">
        <div class="group-title">Familia Stark</div>
        <div class="group-image"></div>
      </div>
    </div>

    <div class="column">
      <div class="group">
        <div class="group-title">Familia Stark</div>
        <div class="group-image"></div>
      </div>
    </div>

  </div>

</div>