@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');

@import './variables';
@import '~assets/third-part/css/bulma-calendar.min.css';

body{

}

a{
  color:#fff;
  text-decoration:none;
  outline:none;

  &:hover{
    color:#fff;
  }
  &:focus{
    color:#fff;
  }
  &:active{
    color:#fff;
  }
  &:visited{
    color:#fff;
  }
}

.clickable{
  cursor:pointer;
}

.is-uppercase{
  text-transform:uppercase;
}

.black-background{
  top:0;
  left:0;
  right:0;
  bottom:0;
  position:fixed;
  background:rgba(0,0,0,.22);
  z-index:1;
  display:none;

  &.active{
    display:block;
  }
}

section{
  padding-bottom:40px;
}

.section-head{
 border-bottom:2px solid #fff;
 width:80%;
 position:relative;
 margin-bottom:20px;
 color:#fff;

 .section-title{
  font-size:22px;
  padding: 0 10px;
 }

 .section-remove-element{
  position:absolute;
  right:40px;
  width:30px;
  height:3px;
  transform:rotate(45deg);
  bottom:12px;
  background:#F54B4B;
  cursor:pointer;

  &:before{
   content:"";
   position:absolute;
   width:30px;
   height:3px;
   transform:rotate(90deg);
   background:#F54B4B;
  }
 }

 .section-add-element{
  position:absolute;
  right:0px;
  width:27px;
  height:3px;
  transform:rotate(90deg);
  bottom:15px;
  background:#fff;
  cursor:pointer;

  &:before{
   content:"";
   position:absolute;
   width:27px;
   height:3px;
   transform:rotate(90deg);
   background:#fff;
  }
 }

 .section-icon{
  position:absolute;
  height:30px;
  width:63px;
  right:-24%;
  top:5px;
  background:#fff;
 }
}

button{
  border:none;
  outline:none;
  &:focus{
    box-shadow:none;
  }
}

.tool-title{
  font-size:28px;
  font-family:$impact;
  letter-spacing:1px;
  text-shadow:0 3px 6px rgba(0,0,0,.3);
  border-bottom:2px solid;
  padding:10px;
}