@import '~sass/variables';

.profile-overview{

 .tasks-overview{
  padding:20px;
 }
 .label{
  color:#fff;
  font-size:14px;
 }

 .total-task{
  width:100%;
  position:relative;
  height:16px;
  font-size:9px;
  color:#fff;

  .pending-tasks{
   width:60%;
   background:$task;
   float:left;
  }

  .complete-tasks{
   width:30%;
   background:$wallet;
   float:left;
  }
  .expired-tasks{
   width:10%;
   background:$bill;
   float:left;
  }
 }

 .achievements-overview{
  padding:20px;

  progress[value]::-webkit-progress-bar{
   background:#ADF39C;
  }
  progress[value]::-webkit-progress-value{
   background:$achievement;
  }
 }

 .bills-overview{
  padding:20px;
  progress[value]::-webkit-progress-bar{
   background:#ADF39C;
   border-radius:none;
  }
  progress[value]::-webkit-progress-value{
   background:$bill;
   border-radius:none;
   }
  }
 }

 .messages-overview{
  padding:20px;
  progress[value]::-webkit-progress-bar{
   background:#686868;
 }
}
