  <section class="profile-overview">

    <div class="section-head">
      <div class="section-title">
        Geral
        <div class="section-add-element"></div>
        <div class="section-remove-element"></div>
      </div>
      <div class="section-icon"></div>
    </div>

    <div class="columns is-desktop is-multiline">   

      <div class="column">
        <div class="tasks-overview">
          <label for="" class="label">Tarefas</label>
          <div class="total-task">
            <div class="pending-tasks has-text-centered">4</div>
            <div class="complete-tasks has-text-centered">3</div>
            <div class="expired-tasks has-text-centered">1</div>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="achievements-overview">
          <label for="" class="label">Metas</label>
          <progress class="progress" value="45" max="100"></progress>
        </div>
      </div>

      <div class="column">
        <div class="bills-overview">
          <label for="" class="label">Gastos</label>
          <progress class="progress" value="45" max="100"></progress>
        </div>
      </div>

      <div class="column">
        <div class="messages-overview">
          <label for="" class="label">Mensagens</label>
          <progress class="progress" value="" max="100"></progress>
        </div>
      </div>
    
    </div>
  </section>