<div class="groups-detail-container">
  <app-header></app-header>
  <app-menu></app-menu>

  <section class="group-profile has-text-centered">
    <div class="group-profile-image"></div>
    <div class="group-profile-name">Família Stark</div>
  </section>

  <app-group-members></app-group-members>

  <app-group-activity-statistics></app-group-activity-statistics>
  
  <app-group-tasks></app-group-tasks>

  <app-group-events></app-group-events>

  <app-group-options></app-group-options>
  
</div>