@import '~sass/variables';
.groups-detail-container{
 background:linear-gradient(#564BEE,#7FF263);
 min-height:100vh;
 color:#fff;
 font-family:$lato;
}

.group-profile{

 margin-bottom: 40px;

 &-image{
  width:200px;
  height:200px;
  background:#fff;
  margin:auto;
 }

 &-name{
  font-family: $impact;
  font-size:36px;
  padding:10px;
 }
}

