<div class="calendar-container">
  <app-header></app-header>
  <app-menu></app-menu>

  <div class="calendar-icon"></div>
  <div class="tool-title has-text-centered is-uppercase">calendário</div>

  <section class="calendar-tool">
    <div class="calendar is-large">
      <div class="calendar-nav">
        <div class="calendar-nav-left">
          <button class="button is-text">
            <i class="fa fa-chevron-left"></i>
          </button>
        </div>
        <div>March 2017</div>
        <div class="calendar-nav-right">
          <button class="button is-text">
            <i class="fa fa-chevron-right"></i>
          </button>
        </div>
      </div>
      <div class="calendar-container">
        <div class="calendar-header">
          <div class="calendar-date">Sun</div>
          <div class="calendar-date">Mon</div>
          <div class="calendar-date">Tue</div>
          <div class="calendar-date">Wed</div>
          <div class="calendar-date">Thu</div>
          <div class="calendar-date">Fri</div>
          <div class="calendar-date">Sat</div>
        </div>
        <div class="calendar-body">
          <div class="calendar-date is-disabled"><button class="date-item">26</button></div>
          <div class="calendar-date is-disabled"><button class="date-item">27</button></div>
          <div class="calendar-date is-disabled"><button class="date-item">28</button></div>
          <div class="calendar-date"><button class="date-item">1</button></div>
          <div class="calendar-date"><button class="date-item">2</button></div>
          <div class="calendar-date"><button class="date-item">3</button></div>
          <div class="calendar-date" data-tooltip="Today"><button class="date-item is-today">4</button></div>
          <div class="calendar-date"><button class="date-item">5</button></div>
          <div class="calendar-date"><button class="date-item">6</button></div>
          <div class="calendar-date"><button class="date-item">7</button></div>
          <div class="calendar-date"><button class="date-item">8</button></div>
          <div class="calendar-date"><button class="date-item">9</button></div>
          <div class="calendar-date"><button class="date-item">10</button></div>
          <div class="calendar-date"><button class="date-item">11</button></div>
          <div class="calendar-date"><button class="date-item">12</button></div>
          <div class="calendar-date"><button class="date-item">13</button></div>
          <div class="calendar-date"><button class="date-item">14</button></div>
          <div class="calendar-date"><button class="date-item">15</button></div>
          <div class="calendar-date"><button class="date-item">16</button></div>
          <div class="calendar-date"><button class="date-item">17</button></div>
          <div class="calendar-date"><button class="date-item">18</button></div>
          <div class="calendar-date"><button class="date-item">19</button></div>
          <div class="calendar-date"><button class="date-item">20</button></div>
          <div class="calendar-date"><button class="date-item">21</button></div>
          <div class="calendar-date"><button class="date-item">22</button></div>
          <div class="calendar-date"><button class="date-item">23</button></div>
          <div class="calendar-date"><button class="date-item">24</button></div>
          <div class="calendar-date"><button class="date-item">25</button></div>
          <div class="calendar-date"><button class="date-item">26</button></div>
          <div class="calendar-date"><button class="date-item">27</button></div>
          <div class="calendar-date"><button class="date-item">28</button></div>
          <div class="calendar-date"><button class="date-item">29</button></div>
          <div class="calendar-date"><button class="date-item">30</button></div>
          <div class="calendar-date"><button class="date-item">31</button></div>
          <div class="calendar-date is-disabled"><button class="date-item">1</button></div>
        </div>
      </div>

      <div class="columns">
        <div class="column">
          <div class="schedule-card card wallet">

            <div class="card-content">
              <div class="card-title">Lavar a louça</div>
              <div class="card-date">21 Dezembro</div>
            </div>
            <div class="card-assign">
              <div class="member-assign"></div>
            </div>
            <div class="card-time-stamp">
              <span>00:01</span>
            </div>

            <div class="card-delete">
              <div class="delete-icon"></div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="schedule-card card bill">

            <div class="card-content">
              <div class="card-title">Lavar a louça</div>
              <div class="card-date">21 Dezembro</div>
            </div>
            <div class="card-assign">
              <div class="member-assign"></div>
            </div>
            <div class="card-time-stamp">
              <span>00:01</span>
            </div>

            <div class="card-delete">
              <div class="delete-icon"></div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="schedule-card card event">

            <div class="card-content">
              <div class="card-title">Lavar a louça</div>
              <div class="card-date">21 Dezembro</div>
            </div>
            <div class="card-assign">
              <div class="member-assign"></div>
            </div>
            <div class="card-time-stamp">
              <span>00:01</span>
            </div>

            <div class="card-delete">
              <div class="delete-icon"></div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>  
</div>