.calendar-container{

 background:linear-gradient(#68D882, #4B87BC);
 min-height:100vh;

 .tool-title{
  color:#B3FFA1
 }
}

.calendar-icon{
 width:66px;
 height:65px;
 background:#fff;
 margin:auto;
}

.calendar{
 background:transparent;
}
.calendar-nav{
 background:transparent;
}
.calendar-date{
 font-size:18px;
 &.is-disabled{

  .date-item{
  color:rgba(0,0,0,1) !important;
  }
 }
}
.date-item{
 color:#fff !important;
 font-size:18px;

 &:hover, &:active, &:focus{
  background:#63ABF2 !important; 
 }

 &.is-today{
  border-color:#63ABF2 !important;
 }
}


 .card{
  height:55px;
  background:#fff;
  display:flex;
  align-items: center;
  color:#fff;
  transition:all .3s;
  position:relative;
  z-index:1;

  &-content{
   max-width:180px;
   display:block;
   padding:0;
   width:95%;
   text-align:left;
  }
  &-title{
   font-size:18px;
   padding: 0 10px;
  }
  &-date{
   padding-left:10px;
   font-size:11px;
   font-style:italic;
   font-weight:200;
  }
  &-assign{
    left:0;
    height:100%;
    display:flex;
    align-items:center;

    .member-assign{
     width:38px;
     height:38px;
     background:#fff;
     border-radius:100px;
     margin:auto;
    }
  }
  &-time-stamp{
   width:80px;
   font-size:12px;
   background:rgba(255,255,255, .5);
   color:#fff;
   border-radius:16px;
   margin-left:20px;
  }

  &-delete{
    height:100%;
    width:15px;
    position:absolute;
    display:flex;
    align-items: center;
    justify-content: center;
    background:rgba(0,0,0,.5);
    right:0;
    transition: all .3s;

    .delete-icon{
      width:20px;
      height:20px;
      opacity:0;
      transition:all .3s;
    }

    &.active{
    width:45px;

      .delete-icon{
        opacity:1;
      }
    }
  }


  &.event{
   background:#63ABF2;
   .delete-icon{
    background:url('~assets/images/icons/trash.svg');
    background-size:contain;
    
   }
  }
  &.wallet{
   background:#7FF263;
   .delete-icon{
    background:url('~assets/images/icons/trash.svg');
    background-size:contain;
   }
  }
  &.bill{
   background:#F54B4B;
   .delete-icon{
    background:url('~assets/images/icons/trash.svg');
    background-size:contain;
   }
  }
 }