  <section class="group-members">
    
    <div class="section-head">
      <div class="section-title">
        Membros
        <div class="section-add-element"></div>
        <div class="section-remove-element"></div>
      </div>
      <div class="section-icon"></div>
    </div>

    <div class="members-container has-text-centered">
      <div class="columns is-multiline is-mobile">
        <div class="column">
          <a routerLink="member-profile">
            <div class="member-profile-image clickable"></div>
            <div class="member-name">Eddard Stark</div>
          </a>
        </div>
        <div class="column">
          <a href="member-profile" routerlink="member-profile">
            <div class="member-profile-image clickable"></div>
            <div class="member-name">Eddard Stark</div>
          </a>
        </div>
        <div class="column">
          <a href="member-profile" routerlink="member-profile">
            <div class="member-profile-image clickable"></div>
            <div class="member-name">Eddard Stark</div>
          </a>
        </div>
      </div>
    </div>

  </section>