@import '~sass/variables';

.group-events{
  font-family:$impact;
  .event-card{
    display:flex;
    align-items: center;
    padding:20px;
    background:transparent;
    border-radius:14px;
    box-shadow:0 3px 6px rgba(0,0,0,.36);
    height:71px;
    position:relative;

    &-date{
      font-size:37px;
    }

    &-title{
      position:absolute;
      right:20px;
    }
  }
}