  <section class="group-events">
    <div class="section-head">
      <div class="section-title">
          Eventos do grupo
        <div class="section-add-element"></div>
        <div class="section-remove-element"></div>
      </div>
      <div class="section-icon"></div>
    </div>

    <div class="columns">

      <div class="column" style="padding:20px;">
        <div class="event-card">
          <div class="event-card-date">22/07</div>
          <div class="event-card-title">Amigo secreto</div>
        </div>
      </div>

      <div class="column" style="padding:20px;">
        <div class="event-card">
          <div class="event-card-date">22/07</div>
          <div class="event-card-title">Amigo secreto</div>
        </div>
      </div>

      <div class="column" style="padding:20px;">
        <div class="event-card">
          <div class="event-card-date">22/07</div>
          <div class="event-card-title">Amigo secreto</div>
        </div>
      </div>      
    </div>

  </section>