<section class="group-statistics">
  <div class="section-head">
    <div class="section-title">
      Estatisticas
      <div class="section-add-element"></div>
      <div class="section-remove-element"></div>
    </div>
    <div class="section-icon"></div>
  </div>

  <div class="columns">
    <div class="column">
      <div class="group-activity-statistic has-text-centered">
        <div class="statistic-title is-uppercase">Atividade do Grupo</div>
        <div class="statistic-graph"></div>
      </div>
    </div>
  </div>

  <div class="columns">
    <div class="column">
      <div class="group-bill has-text-centered">
        <div class="statistic-title">Total de contas</div>
        <div class="columns is-mobile">
          <div class="column">
            <div class="bill-graph"></div>
          </div>
          <div class="column">
            <div class="bill-member-info">
              <div class="member-profile-image"></div>
              <div class="member-name">Eddard Stark</div>
              <div class="member-bill-info">
                <p>4 contas pagas</p>
                <p>Total R$: 181,27</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
