.group-activity-statistic{
 padding:20px;

 .statistic-graph{
  width:264px;
  height:264px;
  background:#fff;
  margin:auto;
 }
}

.statistic-title{
 padding-bottom:20px;
 font-size:22px;
 font-weight:900;
}

.group-bill{
 padding:20px;
 .bill-graph{
  width:140px;
  height:140px;
  background:#fff;
  margin:auto;
 }
 .member-profile-image{
  width:60px;
  height:60px;
  background:#fff;
  margin:auto;
 }
 .member-name{
  padding:10px;
 }
}