@import '~sass/variables';

.group-options{
  .btn{
    width:100%;
    height:55px;
    font-size:22px;
    font-family: $impact;
    outline:none;
    border:none;
    cursor:pointer;
    color:#fff;
    
    &:focus{
      border:none;
      box-shadow:none;
    }

    &.rename-group{
      background:#63ABF2;
    }

    &.leave-group{
      background:#F54B4B;
    }

  }

}