  <section class="group-options">
    <div class="section-head">
      <div class="section-title">
          Opções do grupo
        <div class="section-add-element"></div>
        <div class="section-remove-element"></div>
      </div>
      <div class="section-icon"></div>
    </div>

    <div class="container">
      <button class="btn rename-group is-uppercase">renomear</button>
      <button class="btn leave-group is-uppercase">sair</button>
    </div>


  </section>