<div class="dashboard-container">
  <app-header></app-header>
  <app-menu></app-menu>

  <div class="dashboard">

    <div class="dashboard-tabs">

      <div class="tab active" data-tab-target="alerts">
        <span>alertas</span>
        <div class="tab-icon">
          <img src="assets/images/icons/alert.svg" alt="">
        </div>
      </div>

      <div class="tab" data-tab-target="news">
        <span>recentes</span>
        <div class="tab-icon">
          <img src="assets/images/icons/alert.svg" alt="">
        </div>
      </div>

      <div class="tab" data-tab-target="plans">
        <span>planos</span>
        <div class="tab-icon">
          <img src="assets/images/icons/account-plan.svg" alt="">
        </div>
      </div>
    </div>


    <div class="dashboard-content active" data-dashboard-id="alerts">
        <app-cards></app-cards>
    </div>

    <div class="dashboard-content" data-dashboard-id="news">
    </div>

    <div class="dashboard-content" data-dashboard-id="plans">
    </div>
  </div>
</div>