@import '~sass/variables';

.dashboard-container{
  background:linear-gradient(#68D882,#4B87BC );
  min-height:100vh;
  font-family: $lato;
}

.dashboard-tabs{
  height:100px;
  position:relative;
  text-align: center;
  border-bottom:1px solid #FFFFA4;

 .tab{
    width:100px;
    display: inline-block;
    position:relative;
    opacity:.5;
    margin:20px 0;
    cursor:pointer;

    &.active{
      opacity:1;

      span{
        font-size:22px;
      }
      .tab-icon{
        height:70px;
        width:70px;
        left:calc(50% - 35px);
        bottom:25px;
        pointer-events: none;
        img{
          pointer-events: none;
        }
      }
    }
  }
  
  span{
    color:#FFFFA4;
    font-size:14px;
    position:relative;
    text-transform:uppercase;
    font-weight: 900;
    z-index: 1;
  }

  .tab-icon{
    height:40px;
    width:40px;
    position:absolute;
    bottom:15px;
    left:calc(50% - 20px);
    z-index: 0;
  }
}

.dashboard-content{
  display:none;
  padding:20px;

  &.active{
    display:block;
  }
}
