@import '~sass/variables';

.aside-menu{
  font-family: $lato;
  width:100%;
  height:100vh;
  position:fixed;
  top:0;
  right:-100%;
  background:linear-gradient(#4B87BC, #68D882);
  z-index:2;
  opacity:0;
  transition:all .4s;
  color:#fff;

  .menu-settings{
    width:50px;
    height:50px;
    position:absolute;
    top:70px;
    left:20px;
    background-image:url('/assets/images/icons/settings.svg');
    background-repeat:no-repeat;
    background-position:center;
    background-size:contain;
  }

  .menu-profile-btn {
    width:120px;
    height:120px;
    border-radius:100px;
    background-image:url('/assets/images/icons/profile-img.svg');
    background-position:center;
    background-size:contain;
    margin:auto;
    margin-top:60px;
  }

  .menu-container{
    position:relative;
    top:55px;

    .menu-nav-btn{
      position:relative;
      font-size:36px;
      font-weight:600;
      text-transform:uppercase;

      @media (max-height:640px){
        font-size:22px;
      }
      .fa{
        margin-right:20px;
        font-size:16px;
        font-weight:600;
      }
    }
  }

  &.active{
    right:0;
    opacity:1;
  }
}
