<div class="black-background"></div>

<div class="aside-menu">
  <div class="menu-settings">

  </div>
  <div class="menu-profile-btn">
  </div>
  <p class='has-text-centered' style="font-size:22px;">Jhon snow</p>

  <div class="menu-container has-text-centered">
    <div class="menu-nav-btn clickable">
      <a routerLink="/">
        <span class="menu-btn-name">
          início
        </span>
      </a>
    </div>
    <div class="menu-nav-btn clickable">
      <a routerLink="groups">
        <span class="menu-btn-name">
          grupos
        </span>
      </a>
    </div>
    <div class="menu-nav-btn clickable">
      <a routerLink="calendar">
        <span class="menu-btn-name">
          calendário
        </span>
      </a>
    </div>
    <div class="menu-nav-btn clickable">
      <a routerLink="/">
        <span class="menu-btn-name">
          relatórios
        </span>
      </a>
    </div>
    <div class="menu-nav-btn clickable">
      <a routerLink="/">
        <span class="menu-btn-name">
          carteira
        </span>
      </a>
    </div>
    <div class="menu-nav-btn clickable">
      <a routerLink="/">
        <span class="menu-btn-name">
          eventos
        </span>
      </a>
    </div>
    <div class="menu-nav-btn clickable">
      <a routerLink="/">
        <span class="menu-btn-name">
          metas
        </span>
      </a>
    </div>
  </div>
</div>
