  <section class="shared-groups"> 
    <div class="section-head">
      <div class="section-title">
        Grupos compartilhados
        <div class="section-add-element"></div>
        <div class="section-remove-element"></div>
      </div>
      <div class="section-icon"></div>
    </div>

    <div class="columns is-mobile">
      <div class="column">
        <div class="group-options">
          <div class="group-name">Família Stark</div>
          <button class="remove clickable">Remover</button>
        </div>
      </div>
      <div class="column">
        <div class="group-image"></div>
      </div>
    </div>

    <div class="columns is-mobile">
      <div class="column">
        <div class="group-options">
          <div class="group-name">Família Lannister</div>
          <button class="remove clickable">Remover</button>
        </div>
      </div>
      <div class="column">
        <div class="group-image"></div>
      </div>
    </div>

  </section>