
@import '~sass/variables';

.shared-groups{

 .group-options{
  padding:20px;
 }

 .group-name{
  font-size:22px;
  color:#fff;
  width:100%;
  display:block;
 }

 .remove{
  background:$bill;
  font-family:impact;
  font-size:14px;
  width:120px;
  height:40px;
  color:#fff;
  border-radius:100px;
 }

 .group-image{
  width:120px;
  height:120px;
  background:#fff;
 }
}