@import '~sass/variables';

.card{
  transition: all .2s;
  height:143px;
  box-shadow:0 3px 6px rgba(0,0,0,.3);
  color:#fff;
  margin-bottom:20px;
  overflow: hidden;
  margin:auto;

  @media (min-width:769px){
    min-width:333px;
  }

  &-image{
    background-image:url('~assets/images/icons/account-plan.svg');
    background-position:center;
    background-size:contain;
    background-repeat:no-repeat;
    width:143px;
    height:123px;
    margin: 5px auto;
    float:left;
  }

  &-info{
    width:100%;
    height:100%;
    left:185px;
    padding:10px;
    position:absolute;
    transition:all .2s;

    @media (max-width:400px){
      left:155px;
    }

    &.active{
      left:145px;
      
      .card-delete{
        img{
          opacity:1;
        }
      }

      @media (max-width:400px){
        left:135px;
      }
    }
  }

  &-title{
    font-size:18px;
    color:#fff;
    max-width:150px;
    font-weight:900;
    position:absolute;
    left:25px;
    text-transform:uppercase;
  }
  &-sub-title{
    font-size:16px;
    color:#fff;
    font-weight:600;
    position:absolute;
    left:25px;
    top:55px;
  }
  &-price-tag{
    font-size:20px;
    font-weight:600;
    bottom:20px;
    left:25px;
    position:absolute;
  }
  &-commentary{
    font-size:14px;
    font-weight:200;
    font-style: italic;
    width:40%;
    left:-10px;
    position:relative;
    top:80px;

    p{
      width:85%;
      margin:auto;
    }

    img{
      position:absolute;
      width:10px;
      height:10px;
    }
  }
  &-progress-bar{
    position:absolute;
    top:80px;
    width:40%;

    label{
      font-size:9px;
    }

    .progress{
      height:5px;
    }
  }

  &-delete{
    position:absolute;
    right:145px;
    top:0;
    background:rgba(0,0,0,.5);
    height:100%;
    width:60px;

    img{
      position:absolute;
      top:calc(50% - 20px);
      left:calc(50% - 20px);
      width:40px;
      height:40px;
      opacity:0;
      transition: all .3s;

      @media (max-width:400px){
        width:30px;
        height:30px;
        top:calc(50% - 15px);
        left:calc(50% - 25px);
      }
    }

    @media (max-width:400px){
      right:115px;
    }
  }

  &.bill{
    background:$bill;

    .card-image{
      background-image:url("~assets/images/icons/account-plan.svg");
    }
  }
  &.wallet{
    background:$wallet;

    .card-image{
      background-image:url("~assets/images/icons/wallet.svg");
    }
  }
  &.event{
    background:$event;

    .card-image{
      background-image:url("~assets/images/icons/event.svg");
    }
  }
  &.achievement{
    background:$achievement;

    .card-image{
      background-image:url("~assets/images/icons/achievement.svg");
    }
  }
  &.task{
    background:$task;

    .card-image{
      background-image:url("~assets/images/icons/task.svg");
    }
  }
}
