<div class="columns is-multiline">
  <div class="column">
    <div class="dashboard-card card bill">
      <div class="card-image"></div>

      <div class="card-info">
        <div class="card-title">
          próxima conta
        </div>
        <div class="card-sub-title has-text-centered">
          21/12
        </div>
        <div class="card-price-tag has-text-centered">
         R$: 181,27
        </div>
        <div class="card-commentary has-text-centered">
          <!--<img src="./assets/images/icons/quote-right.svg" style="right:25px;" alt="">
          <img src="./assets/images/icons/quote-left.svg" style="left:180px;" alt="">
          <p></p>-->
        </div>
        <div class="card-progress-bar has-text-centered">
          <!--<progress class="progress is-small is-info" value="30" max="100">30%</progress>-->
        </div>
        <div class="card-delete">
          <img src="./assets/images/icons/trash.svg" alt="">
        </div>
      </div>

    </div>
  </div>

  <div class="column">
    <div class="dashboard-card card wallet">
      <div class="card-image"></div>

      <div class="card-info">
        <div class="card-title">
          gastos
        </div>
        <div class="card-sub-title has-text-centered">
          ultimos 30 dias
        </div>
        <div class="card-price-tag has-text-centered">
          R$: 181,20
        </div>
        <div class="card-commentary has-text-centered">
          <!--<img src="./assets/images/icons/quote-right.svg" style="right:25px;" alt="">
          <img src="./assets/images/icons/quote-left.svg" style="left:180px;" alt="">
          <p></p>
        </div>
        <div class="card-progress-bar has-text-centered">
          <!--<progress class="progress is-small is-info" value="30" max="100">30%</progress>-->
        </div>
        <div class="card-delete"></div>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="dashboard-card card task">
      <div class="card-image"></div>

      <div class="card-info">
        <div class="card-title">
          tarefa
        </div>
        <div class="card-sub-title has-text-centered">
          lavar a louça
        </div>
        <div class="card-price-tag has-text-centered">
        </div>
        <div class="card-commentary has-text-centered">
          <img src="./assets/images/icons/quote-left.svg" style="left:0;" alt="">
          <img src="./assets/images/icons/quote-right.svg" style="right:0;" alt="">
          <p>este e um comentário que vai</p>
        </div>
        <div class="card-progress-bar has-text-centered">
          <!--<progress class="progress is-small is-info" value="30" max="100">30%</progress>-->
        </div>
        <div class="card-delete"></div>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="dashboard-card card achievement">
      <div class="card-image"></div>

      <div class="card-info">
        <div class="card-title">
          meta
        </div>
        <div class="card-sub-title has-text-centered">
          perder peso
        </div>
        <div class="card-price-tag has-text-centered">
        </div>
        <div class="card-commentary has-text-centered">
          <!--<img src="./assets/images/icons/quote-right.svg" style="right:25px;" alt="">
          <img src="./assets/images/icons/quote-left.svg" style="left:180px;" alt="">
          <p></p>-->
        </div>
        <div class="card-progress-bar has-text-centered">
          <label for="">30%</label>
          <progress class="progress is-small is-info" value="30" max="100">30%</progress>
        </div>
        <div class="card-delete"></div>
      </div>
    </div>
  </div>

</div>
