@import '~sass/variables';

.member-latest-activity{
 .member-tasks-card{

  .reduced-card{
   height:55px;
   color:#fff;
   display:flex;
   align-items:center;

   .card-title{
    padding:20px;
    font-size:18px;
   }
  
   &.pending{
    background:$task;
   }
   &.expired{
    background:$bill;
   }
   &.complete{
    background:$wallet;
   }
  }
 }
}