  <section class="member-latest-activity">
    <div class="section-head">
      <div class="section-title">
        Última tarefas
        <div class="section-add-element"></div>
        <div class="section-remove-element"></div>
      </div>
      <div class="section-icon"></div>
    </div>

    <div class="member-tasks-card">
      <div class="columns">
      
        <div class="column">
          <div class="reduced-card pending">
            <div class="card-title">Lavar louça</div>
          </div>
        </div>

        <div class="column">
          <div class="reduced-card expired">
            <div class="card-title">Lavar louça</div>
          </div>
        </div>

        <div class="column">
          <div class="reduced-card complete">
            <div class="card-title">Lavar louça</div>
          </div>
        </div>

      </div>
    </div>
  </section>