@import '~sass/variables';

.member-profile-container{
 background: linear-gradient(#564BEE, #7FF263);
 min-height:100vh;
 font-family:$lato;
}

.main-profile-desc{
 .member-profile-picture{
  background-image:url('/assets/images/icons/profile-img.svg');
  width:122px;
  height:122px;
  margin:auto;
 }

 .member-profile-name{
  font-size:36px;
  color:#fff;
 }

 .member-profile-stats{
  padding:20px;

  .profile-achievements{
   height:80px;
   width:150px;
   background:#fff;
   margin:auto;
   color:#000;
  }

  .profile-permission{
   font-size:28px;
   color:#fff;
   font-weight:600;
  }
 }
}
