<div class="member-profile-container">

<app-header></app-header>
<app-menu></app-menu>

  <section class="main-profile-desc">
    <div class="member-profile-picture"></div>
    <div class="member-profile-name has-text-centered">Eddard Stark</div>

    <div class="member-profile-stats">
      <div class="profile-achievements">20pontos</div>
      <div class="profile-permission has-text-centered">membro</div>
    </div>
  </section>

  <app-member-latest-activity></app-member-latest-activity>

  <app-profile-overview></app-profile-overview>

  <app-shared-groups></app-shared-groups>

</div>